body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;

  height: 100vh;
  background-color: rgb(143, 143, 143);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}